.footer{
    background: black;
    color: white;
    padding: 50px 20px 20px;
    width:100%;
}
.footer-container{
    width: 90%;
    max-height: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.footer-col h4{
    margin-bottom: 15px;
}
.footer-col p{
    margin: 8px 0px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}
.footer-col p:hover{
    color: brown;
    
}
.log{
    display: flex;
    justify-content:space-between;
    gap: 10px;
    margin-left: 100px;
    margin-top:100px;
}
.log img{
    width: 150px;
}
.social-icons{
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-right: 100px;
}
@media (max-width:992px){
.footer-container{
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}
}
@media (max-width:768px){
.footer{
    text-align:center;
}
.footer-container{
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}
.logo img{
    margin:auto;
}
}
@media (max-width:480px){
.footer{
    padding:40px 15px;
}
.footer-container{
    grid-template-columns:1fr;
    gap:20px;
}
.footer-col{
    text-align:center;
}
.footer-col h4{
    margin-bottom:10px;
}
.logo img{
    display:block;
    margin:auto;
}
}
.social-icons{
    display:flex;
   gap:15px;
}
@media (max-width:480px){
.social-icons{
    justify-content:center;
}
}